
.container {
    margin: 30px;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    padding: 25px;
    text-align: center;
}


.class-Date {
    height: 500px;
    width: 340px;

}


.cohort-season {
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    

}

.cohort-season:hover{
    font-size: 20px;
} 

hr {
    width: 310px;
    color: rgb(122, 167, 136);
    border-style: double;
}