* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

}
#root {

    display: grid;
    height: 100vh;
    width: 100vw;   
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 80px auto;
}

.navbar{

    grid-column:  1/3;
    grid-row: 1/2;
    color: white;
    background-color: rgb(93, 147, 110);
    height: 80px;
    margin: 0;
    text-align: center;
}