* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}
#root {

    display: grid;
    height: 100%;
    width: 100%;   
    // grid-template-columns: 1fr 2fr;
    // grid-template-rows: 80px auto;
    grid-template-columns: 2.5fr 5fr;
    grid-template-rows: 100px 6fr;
}

.navbar{

    grid-column:  1/3;
    grid-row: 1/2;
    color: white;
    background-color: rgb(93, 147, 110);
    height: 80px;
    margin: 0;
    text-align: center;
}